<h2>Multi Selection Filter examples</h2>
<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Multi Selection Example</h3>
<p>
  An example to multi selection filter
</p>
<div class="with-source">
  <a class="source" href="https://github.com/jim060/ng2-smart-table-jhipster/tree/master/src/app/pages/examples/multiselect/multiselect-filter-example.component.ts" target="_blank">Demo Source</a>
  <multiselect-example-filter></multiselect-example-filter>
</div>
