<h2>Date Selection Filter examples</h2>
<h3><a id="confirm" class="anchor" href="#confirm" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Date Selection Example</h3>
<p>
  An example to date selection filter
</p>
<div class="with-source">
  <a class="source" href="https://github.com/jim060/ng2-smart-table-jhipster/tree/master/src/app/pages/examples/dateselect/dateselect-filter-example.component.ts" target="_blank">Demo Source</a>
  <app-date-select-example-filter></app-date-select-example-filter>
</div>
